@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

::-webkit-scrollbar {
    width: 12px;
    border: 3px solid black;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background-color: #2c3e50;
    border-radius: 10px;
    border: 3px solid black;
}

::-webkit-scrollbar-thumb:hover {
    background: #2c3e50;
}

/* Scrollbar styles for Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #2c3e50 #f1f1f1;
}

*::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

*::-webkit-scrollbar-thumb {
    background-color: #2c3e50;
    border-radius: 10px;
    border: 3px solid black;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #2c3e50;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: #222;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 37px;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar>img {
    width: 123px;
    filter: invert(1);
}

.logo {
    height: 40px;
}

.menu {
    display: flex;
    gap: 20px;
}

.menu a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    padding: 5px 6px;
    border-radius: 4px;
}

.menu a:hover {
    background-color: #ffffff0f;
    transition: all 0.3s;
}

.icons {
    display: flex;
    gap: 20px;
    margin: 0px -3px;
    padding: 0px 5px;
}

.icons img {
    padding: 4px 4px;
    height: 30px;
    cursor: pointer;
    border-radius: 40px;
    /* filter: invert(1); */
}

.icons img:hover {
    background-color: rgba(211, 211, 211, 0.553);
    filter: none;
    transition: all 0.9s;
}

.menu-toggle {
    display: none;
    font-size: 24px;
    cursor: pointer;
    background: none;
    border: none;
}

.text-area {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* margin-top: 20px; */
}

.text-area h1 {
    font-size: 4vw;
    margin-top: 16px;
    color: #fff;
    /* color: #222; modified  */

}

.text-area img {
    width: 290px;
    margin-top: 70px;
}

.text-area p {
    font-weight: 600;
    font-size: 20px;
    color: #fff;
}

.text-area span {
    color: #fff;
    border-bottom: 2px solid #fff;
}

.text-area span:hover {
    border-bottom: 3px solid #fff;
    transition: all ease 0.3s;
    cursor: pointer;
}

.royal-blue-span h1 {
    color: #fff;
}

.royal-blue-span p span {
    color: #fff;
    border-bottom: 2px solid #fff;
}

.royal-blue-span p span:hover {
    color: #fff;
    border-bottom: 3px solid #fff;
}

.sec {
    background-image: url('https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Model-3-Desktop-US.png');
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.btn-cont {
    position: absolute;
    bottom: 20px;
    left: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-50%);
}

.btn-cont button {
    font-family: "Raleway", sans-serif;
    background-color: #000;
    color: white;
    border: none;
    padding: 11px 96px;
    margin: 5px;
    cursor: pointer;
    border-radius: 4px;
    font-weight: 700;
    font-size: 14px;
}

button.royal-blue {
    background-color: #3e6ae1;
    color: #fefeff;
}

button.black {
    background-color: #fff;
    color: #393c41;
}

.cy-btn {
    padding: 13px 100px !important;
    color: #939496 !important;
    border-radius: 0px !important;
}

.cy-btn:hover {
    background-color: #181b22 !important;
    transition: all 0.4s;
}

.cyber-btn1 {
    background-color: #121213 !important;
    border-top: 2px solid #818182 !important;
}

.cyber-btn2 {
    background-color: #121313 !important;
    outline: 1px solid #34373c !important;
}

footer {
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-family: "Open Sans", sans-serif;
}

.footer-content p {
    margin: 10px 0;
    font-size: 14px;

    margin: 9px 309px;
    font-size: 12px;
    color: #c9cacb;
    font-weight: 600;
}

.footer-content a {
    color: #fff;
    text-decoration: underline;
}

.footer-content a:hover {
    text-decoration: none;
}

.footer-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 55px;
}

.footer-links a {
    color: #c9cacb;
    font-size: 12px;
    margin: 1px 9px;
    font-weight: 600;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}

/* Arhum ki utility classes! */
.blue {
    background-image: url(https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Model-Y-Desktop-US-v2.png);
    background-position: center center;
}

.grey {
    background-image: url(https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Model-X-Desktop-US.png);
    background-position: center center;
}

.silver {
    background-image: url(https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Model-S-Desktop-US.png);
    background-position: center center;
}

.cyber {
    background-image: url(https://digitalassets.tesla.com/discovery-tesla-com/image/upload/f_auto,q_auto/Homepage-Cybertruck-Desktop.jpg);
    background-position: center center;
}

.panel {
    background-image: url(https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-SolarPanels-01-Desktop);
    background-position: center center;
}

.roof {
    background-image: url(https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-SolarRoof-Desktop-US.png);
    background-position: center center;
}

.accessories {
    background-image: url(https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Powerwall-Desktop-US.png);
    background-position: center center;
}

.power {
    background-image: url(https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Accessories-Desktop-US.png);
    background-position: center center;
}

@media (max-width: 768px) {
    .navbar>img {
        width: 120px;
    }

    .menu,
    .icons {
        display: none;
    }

    .menu-toggle {
        display: block;
        color: #fff;
        font-size: 16px;
        border: none;
        border-radius: 5px;
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(10px);
        cursor: pointer;
        transition: all 0.3s ease;
        padding: 2px 7px;
    }

    .sec {
        background-size: max(1576px, 100vw);
    }

    .accessories {
        background-position: left -355px center;
    }

    .text-area h1 {
        font-size: 45px;
    }

    .text-area p {
        font-size: 16px;
    }

    .btn-cont {
        display: flex;
        flex-direction: column;
    }

    .footer-content p {
        margin: 3px 8px;
        font-size: 9px;
        font-weight: 500;
    }

    .footer-links {
        flex-direction: column;
        gap: 5px;
    }

    .footer-links a {
        font-size: 9px;
        font-weight: 500;
    }
}
